header {
    position: fixed;
    height: 80px;
    line-height: 80px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

nav {
    font-size: 3rem;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

section h2 {
    font-size: 4rem;
    font-weight: bold;
}

section h4 {
    font-size: 2.5rem;
}

.my_sec_green {
    background-color: #1abc9c;
    color: white;
}

.my_sec_blue {
    background-color: #2c3e50;
    color: white;
}

.my_sec_white {
    background-color: white;
    color #2c3e50;
}

.my_menu {
    color: #1abc9c;
    background-color: #2c3e50;
    font-size: 1.85rem;
}

#my_banner {
    margin-top: 80px;
}

#my_banner h1 {
    font-size: 5rem;
    font-weight: bold;
}

[class^=my_star] span.glyphicon {
    font-size: 35px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.my_star_light::before,
.my_star_light::after {
    content: '';
    width: 100px;
    height: 4px;
    background-color: white;
    border-radius: 1px;
    display: inline-block;
    position: relative;
    bottom: 18px;
}

.my_star_dark::before,
.my_star_dark::after {
    content: '';
    width: 100px;
    height: 4px;
    background-color: #2c3e50;
    border-radius: 1px;
    display: inline-block;
    position: relative;
    bottom: 18px;
}

.my_portfolio_img_container {
    padding: 15px;
}

.my_portfolio_img {
    position: relative;
}

.my_portfolio-overlay {
    display: none;
}

.my_portfolio_img:hover .my_portfolio-overlay {
    display: block;
    background-color: #29b096;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.my_portfolio-overlay .glyphicon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 55px;
}

.my_about_text {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 2rem;
}

.my_btn_green {
    margin-top: 10px;
    background-color: #1abc9c;
    color: white;
}

.form-control {
    border: none;
    box-shadow: none;
}

.form-group {
    border-top: none;
    border-bottom: 1px solid #e9ecef;
    box-shadow: none;
}

#my_sec_about {
    background-color: #1abc9c;
    color: white;
}

.my_btn_download {
    background-color: #1abc9c;
    color: white;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

footer h4 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

footer p {
    font-size: 1.7rem;
}

footer .social {
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

footer i {
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer a {
    color: #1abc89
}

footer a:hover {
    color: #11775c;
}

.my_footer-bottom {
    background-color: #1a252f;
    height: 70px;
    line-height: 70px;
    font-size: 1.4rem;
    color: white;
}
